/* manrope-latin-ext-400-normal */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./fonts/manrope-latin-ext-400-normal.woff2) format('woff2');
}
/* manrope-latin-400-normal */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./fonts/manrope-latin-400-normal.woff2) format('woff2');
}
/* manrope-latin-ext-500-normal */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(./fonts/manrope-latin-ext-500-normal.woff2) format('woff2');
}
/* manrope-latin-500-normal */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(./fonts/manrope-latin-500-normal.woff2) format('woff2');
}
/* manrope-latin-ext-600-normal */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(./fonts/manrope-latin-ext-600-normal.woff2) format('woff2');
}
/* manrope-latin-600-normal */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(./fonts/manrope-latin-600-normal.woff2) format('woff2');
}
/* manrope-latin-ext-700-normal */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./fonts/manrope-latin-ext-700-normal.woff2) format('woff2');
}
/* manrope-latin-700-normal */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./fonts/manrope-latin-700-normal.woff2) format('woff2');
}
/* manrope-latin-ext-800-normal */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url(./fonts/manrope-latin-ext-800-normal.woff2) format('woff2');
}
/* manrope-latin-800-normal */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url(./fonts/manrope-latin-800-normal.woff2) format('woff2');
}
/* fraunces-latin-ext-400-normal */
@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./fonts/fraunces-latin-ext-400-normal.woff2) format('woff2');
}
/* fraunces-latin-400-normal */
@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./fonts/fraunces-latin-400-normal.woff2) format('woff2');
}
/* fraunces-latin-ext-500-normal */
@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(./fonts/fraunces-latin-ext-500-normal.woff2) format('woff2');
}
/* fraunces-latin-500-normal */
@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(./fonts/fraunces-latin-500-normal.woff2) format('woff2');
}
/* fraunces-latin-ext-600-normal */
@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(./fonts/fraunces-latin-ext-600-normal.woff2) format('woff2');
}
/* fraunces-latin-600-normal */
@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(./fonts/fraunces-latin-600-normal.woff2) format('woff2');
}
/* fraunces-latin-ext-700-normal */
@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./fonts/fraunces-latin-ext-700-normal.woff2) format('woff2');
}
/* fraunces-latin-700-normal */
@font-face {
  font-family: 'Fraunces';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(./fonts/fraunces-latin-700-normal.woff2) format('woff2');
}
